<header class="top-header">
    <div class="header-container">
        <a href="{{ .Site.BaseURL }}" class="site-name">{{ .Site.Title }}</a>
        
        <nav class="top-nav">
            <ul>
                <li><a href="{{ .Site.BaseURL }}" {{ if or .IsHome (eq .Section "blog") }}class="active"{{ end }}>Blog</a></li>
                <li><span class="disabled">Projects</span></li>
                <li><span class="disabled">Music</span></li>
                <li><span class="disabled">About</span></li>
            </ul>
        </nav>
    </div>
</header> 